{% extends 'base.html' %}

{% block content %}
<style>
  .ingredient-form {
    border-bottom: 1px solid black;
  }
</style>

<div style="margin-top: 30px;">
  {% include 'recipes/partials/form.html' %}
  {% for ingredient in recipe.recipeingredient_set.all %}
    <div id="ingredient-{{ ingredient.id }}">
      {% include 'recipes/partials/ingredient-inline.html' with  object=ingredient %}
    </div>
  {% endfor %}
  {% if new_ingredient_url %}
    <div id='ingredient-create'>
    </div>
    <button hx-get="{{ new_ingredient_url }}" hx-trigger='click' hx-target='#ingredient-create' hx-swap='afterend'>Add
      ingredient</button>

  {% endif %}
</div>

{% endblock content %}
