<form action="." method="POST" hx-post=".">
  {% csrf_token %}
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  {% for field in form %}
  <div class="{% if field.field.required %}{{ form.required_css_class }}{% endif %}">
    {{ field }}
    {% if field.help_text %}
    <span class="help-text">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>
  {% endfor %}

  {% if formset %}
  <h3>Ingredients</h3>
  {{ formset.management_form }}
  {% for form in formset %}
  <div class="ingredient-form">
    {{ form.as_p }}
  </div>
  {% endfor %}
  {% endif %}

  <div style="margin-top:25px;">
    <button type="submit">Save</button>
  </div>
</form>
