{% extends 'base.html' %}

{% block content %}

{% if not created %}
  <div style="margin-top: 30px;">
    <form action="." method="POST">
      {% csrf_token ¡%}
      <div>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div style="margin-top:15px;">
        <textarea name="content" placeholder="Content"></textarea>
      </div>
      <div style="margin-top:25px;">
        <button type="submit">Create Article</button>
      </div>
    </form>
  </div>
{% else %}
  <p>Your article has been created! Check here: <a href="/articles/{{ article.id }}">{{ article.title }}</a></p>
  <br>
  <a href="{% url 'create_article' %}">Create a new article</a>
{% endif %}
{% endblock content %}
