{% extends 'base.html' %}

{% block content %}

{% if not article %}
<div style="margin-top: 30px;">
  <form action="." method="POST">
    {% csrf_token ¡%}
    {{ form.as_p }}
      <div style="margin-top:25px;">
        <button type="submit">Create Article</button>
      </div>
    </form>
  </div>
{% else %}
  <p>Your article has been created! Check here: <a href="/articles/{{ article.slug }}">{{ article.title }}</a></p>
  <br>
  <a href="{% url 'articles:create' %}">Create a new article</a>
{% endif %}
{% endblock content %}
